name: Docker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  REGISTRY_NAME: hexletbasics
  CI: true
  IMAGE_NAME: hexletbasics/base-image

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: ${{ github.event_name == 'push' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Check image building (PR)
        if: ${{ github.event_name == 'pull_request' }}
        uses: docker/build-push-action@v6
        with:
          push: false
          load: true
          tags: ${{ env.IMAGE_NAME }}:ci
          cache-from: type=gha,scope=base-image
          cache-to: type=gha,scope=base-image,mode=max

      - name: Build and push into docker hub
        if: ${{ github.event_name == 'push' }}
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.IMAGE_NAME }}
          cache-from: type=gha,scope=base-image
          cache-to: type=gha,scope=base-image,mode=max
